<div class="grid container">
  <div>
    <h1>.</h1>
    <h2>Euijae Kim</h2>

    <p>I'm currently working at <a class="contrast" target="_blank" href="https://nike.com">Nike</a> as a software engineer, where I work on Nike's next-gen Auth0-based server-to-server authentication libraries. These libraries power all of Nike's customer-facing mobile and web apps, which is pretty exciting! Before Nike, I was with <a class="contrast" target="_blank" href="https://tech.walmart.com/content/walmart-global-tech/en_us.html">Walmart Global Tech</a>, where I developed an Android-based handheld shopping checkout application. That application has been deployed in over 4,000 retail stores worldwide, which was a huge milestone for me.</p>

    <p>Engineering has always been my passion, especially in areas like computer vision, big data analytics, and mathematical modeling. I love diving into complex problems and figuring out innovative solutions—that's what keeps me motivated every day.</p>

    <p>Outside of work, I’m a lifelong sneakerhead—sneakers have been my thing for as long as I can remember. If you're into sneaker culture too, we’re already one step closer to being friends. I’m not as crazy about collecting as I used to be, but I still love everything about sneakers. It’s one of my favorite ways to chill and enjoy life. If you know, you know!</p>
  </div>
  <div></div>
</div>